@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #153677, #4e085f);
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-do{
    width: 480px;
    background-color: white;
    border-radius: 10px;
    padding: 40px 20px;
    
    
}

.to-do h2{
    color: #153677;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.to-do h2 img{
    width: 39px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    margin-top: 10px;
    
   
}

.row #inputbox{
    border: none;
    outline: none;
    background-color: transparent;
    flex:1;
    padding: 10px;
    padding: 0 15px;
    font-size: 15px;

}

.row button{
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 16px 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

ul li::before{
    content: '';
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background: url(images/checked.png);
    position: absolute;
    background-position: center;
    background-size: cover;
}

ul li span{
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    top: 5px;
    padding-top: 5px;
    font-size: 20px;
    /* line-height: 40px; */
    text-align: center;
}

ul li span:hover{
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
}